@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #333;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  font-size: 1.4rem;
}

.title-font {
  font-family: 'Poppins', sans-serif;
}

[dir='rtl'] body,
[dir='rtl'] .title-font {
  font-family: 'Tajawal', sans-serif;
}

[dir='rtl'] .iconify.translate {
  transform: rotateY(180deg);
}

/* Primary Colors */
.text-primary {
  color: var(--primary-text);
}

.bg-primary {
  background-color: var(--primary-color);
}

.border-primary {
  border-color: var(--primary-color);
}

.hover\:text-primary {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.hover\:text-primary:hover {
  color: var(--primary-text);
}

.hover\:bg-primary {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.hover\:bg-primary:hover {
  background-color: var(--primary-color);
}

/* Secondary Colors */
.text-secondary {
  color: var(--secondary-text);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.border-secondary {
  border-color: var(--secondary-color);
}

.hover\:text-secondary {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.hover\:text-secondary:hover {
  color: var(--secondary-text);
}

.hover\:bg-secondary {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.hover\:bg-secondary:hover {
  background-color: var(--secondary-color);
}

/* Threads Colors */
.text-third {
  color: var(--third-text);
}

.bg-third {
  background-color: var(--third-color);
}

.border-third {
  border-color: var(--third-border);
}

.hover\:bg-third {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.hover\:bg-third:hover > div {
  background-color: var(--third-color);
}

/* Reviews Colors */
.bg-reviews-active {
  color: var(--bg-reviews-active);
}

.bg-reviews-inactive {
  color: var(--bg-reviews-inactive);
}

/* in Stock Colors */
.bg-stock {
  background-color: var(--bg-stock);
}

.text-stock {
  color: var(--bg-stock);
}

/* Out Of Stock Colors */
.bg-stock-out {
  background-color: var(--bg-stock-out);
}

.text-stock-out {
  color: var(--bg-stock-out);
}

/* Default Containers */

.container {
  max-width: 1400px;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;
}

.container-nop {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.container-simple {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

/* Titles */
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

/* Toast */
.toast {
  font-size: 13px;
  position: fixed;
  display: flex;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff !important;
  box-shadow: 0 5px 10px 0px #00000044;
  border-radius: 5px;
  padding: 8px 18px;
  z-index: 99999999;
  align-items: center;
}

.toast-progress {
  width: 0%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
  animation: widthToZero 4s linear;
}

.toast-message {
  margin: 5px;
}

.toast.error .toast-progress {
  background-color: rgb(212, 27, 27);
}

.toast.success .toast-progress {
  background-color: rgb(12, 196, 12);
}

.toast.error svg {
  fill: blue;
}

.toast.success svg {
  fill: orange;
}

.toast-close {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 22px;
  text-align: center;
  background: white;
  border-radius: 5px;
  box-shadow: -1px 2px 5px 0 #00000044;
  cursor: pointer;
}

.toast-fade-in {
  animation: fadeInUp 0.5s ease-in-out;
}

.toast-fade-out {
  animation: fadeOutDown 0.5s ease-in-out;
}

/* Animations */
@keyframes fadeInUp {
  from {
    transform: translate(-50%, 50%);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes fadeOutDown {
  from {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  to {
    transform: translate(-50%, 50%);
    opacity: 0;
  }
}

@keyframes widthToZero {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

/* click effeect */
.click-effect {
  position: relative;
  overflow: hidden;
}

.click-effect::before {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 50%;
  border-radius: 50%;
  background-color: #fff;
  content: '';
  transition:
    transform 1s,
    opacity 1s;
}

.click-effect:active::before {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0);
  transition: 0s;
}

.click-effect::after {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 50%;
  border-radius: 50%;
  background-color: #fff;
  content: '';
  transition:
    transform 2s,
    opacity 2s;
}

.click-effect:active::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0);
  transition: 0s;
}

/* slide */
.slide-enter-active,
.slide-leave-active {
  transition-duration: 0.3s;
}

.slide-enter-active {
  transition-timing-function: ease-in;
}

.slide-leave-active {
  transition-timing-function: ease-out;
}

.slide-enter,
.slide-leave-to {
  max-height: 0;
  opacity: 0;
}

.slide-enter-to,
.slide-leave {
  max-height: 100px;
  opacity: 1;
}

/* Slide Down */
.slide-down-enter-active,
.slide-down-leave-active {
  transition:
    max-height 0.3s ease-out,
    opacity 0.3s ease-out;
  overflow: hidden;
}

.slide-down-enter-from,
.slide-down-leave-to {
  max-height: 0;
  opacity: 0;
}

.slide-down-enter-to,
.slide-down-leave-from {
  max-height: 1000px;
  opacity: 1;
}

/* fade */
.fade-enter-active {
  transition: opacity 0.3s ease;
}

.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave {
  opacity: 1;
}

/* custom scrollbar */
.scroll-x::-webkit-scrollbar {
  width: 20px;
  height: 5px;
}

.scroll-y::-webkit-scrollbar {
  width: 5px;
  height: 20px;
}

.scroll-x::-webkit-scrollbar-track,
.scroll-y::-webkit-scrollbar-track {
  background-color: var(--third-color);
}

.scroll-x::-webkit-scrollbar-thumb,
.scroll-y::-webkit-scrollbar-thumb {
  background-color: var(--third-text);
  background-clip: content-box;
}

.scroll-x::-webkit-scrollbar-thumb:hover,
.scroll-y::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

/* Search Input */
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1.2em;
  width: 1.2em;
  border-radius: 50em;
  background: url('data:image/svg+xml,<svg aria-label="close icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.71 10l4.65-4.66a.495.495 0 10-.7-.7L10 9.29 5.34 4.64a.495.495 0 00-.7.7L9.29 10l-4.65 4.66a.48.48 0 000 .7.481.481 0 00.7 0L10 10.71l4.66 4.65a.482.482 0 00.7 0 .48.48 0 000-.7L10.71 10z" fill="currentColor"></path></svg>')
    no-repeat 50% 50%;
  background-size: cover;
  opacity: 0;
  cursor: pointer;
}

input[type='search']:focus::-webkit-search-cancel-button {
  opacity: 1;
  pointer-events: all;
}

/* Checkbox Styles */
input[type='checkbox']:checked + div {
  transition: all 0.3s ease-in-out;
}

input[type='checkbox']:checked + div {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

input[type='checkbox']:checked + div span {
  display: block;
}

input[type='checkbox']:checked + div + label,
input[type='radio']:checked + label {
  transition: all 0.3s ease-in-out;
}

input[type='checkbox']:checked + div + label,
input[type='radio']:checked + label {
  color: var(--secondary-text);
  font-weight: 500;
}

@media (max-width: 1024px) {
  .show {
    display: block !important;
  }
}
